<table class="table">
  <thead>
  <tr>
    <th scope="col">Resume</th>
    <th scope="col">Saved Date</th>
    <th scope="col">Edit</th>
    <th scope="col">Print</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Resume1</th>
    <td>2/16/2018</td>
    <td><span class="glyphicon glyphicon-pencil"></span></td>
    <td><span class="glyphicon glyphicon-print"></span></td>
  </tr>
  <tr>
    <th>Resume2</th>
    <td>2/16/2018</td>
    <td><span class="glyphicon glyphicon-pencil"></span></td>
    <td><span class="glyphicon glyphicon-print"></span></td>
  </tr>
  <tr>
    <th>Resume3</th>
    <td>2/16/2018</td>
    <td><span class="glyphicon glyphicon-pencil"></span></td>
    <td><span class="glyphicon glyphicon-print"></span></td>
  </tr>
  </tbody>
</table>
