/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
}

html {
  overflow-y: scroll;
}

.fa-plus-square {
  color: #218838;
}

.fa-minus-square {
  color: #dc3545;
}

.item-group {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-card {
  background-color: #f5f5f5;
}
