<nav class="navbar">
  <button (click)="onBack()" class="btn btn-primary" type="button"><span class="fa fa-home"
                                                                         aria-hidden="true"></span> Home
  </button>
  <button (click)="onLogout()" class="btn btn-danger" type="button"><span class="fa fa-sign-out"
                                                                          aria-hidden="true"></span> Logout
  </button>
</nav>

<div>
  <tabset>
    <tab heading="About">
      <app-contact-info></app-contact-info>
    </tab>
    <tab heading="Work Experience">
      <app-work-experience></app-work-experience>
    </tab>
    <tab heading="Education">
      <app-education></app-education>
    </tab>
    <tab heading="Misc">
      <app-misc></app-misc>
    </tab>
    <tab heading="Review">
      <app-review></app-review>
    </tab>
  </tabset>
</div>
