<button type="button" class="btn btn-primary btn-lg btn-block" (click)="openSaveModal()">Save Resume</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="printResume()">Print Resume</button>
<a class="download-zip-link" #downloadZipLink></a>

<ng-template #printModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Print</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Buzz buzz buzz. I'm printing.
  </div>
</ng-template>
