<button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal(saveModal)">Save Resume</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="openModal(printModal)">Print Resume</button>

<ng-template #saveModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Resume</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-inline justify-content-center">
      <label class="sr-only" for="inlineFormInputName2">Save As</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Save As...">
      <button type="button" class="btn btn-primary mb-2 mr-sm-2">Save</button>
      <button type="button" class="btn btn-danger mb-2" (click)="modalRef.hide()">Cancel</button>
    </form>
  </div>
</ng-template>

<ng-template #printModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Print</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Buzz buzz buzz. I'm printing.
  </div>
</ng-template>
