<nav class="navbar">
  <button class="btn btn-primary disabled" type="button"><span class="fa fa-home" aria-hidden="true"></span> Home
  </button>
  <button (click)="onLogout()" class="btn btn-danger" type="button"><span class="fa fa-sign-out"
                                                                          aria-hidden="true"></span> Logout
  </button>
</nav>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/create">Start New Resume</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/load">Load Resume</button>
